In [1]:
import pandas as pd

data_directory = '../data/'

# here is the corrected data
filename = "corrected_data.json"

# take the transpose so that the column names are the metadata keys, not the story ids
df = pd.read_json(data_directory + filename).transpose()

# let's see what it looks like!
df.head()

,author_id,characters,genres,language,num_chapters,num_favs,num_follows,num_reviews,num_words,published,rated,status,title,updated
10000036,2846408,"[[Ron W., Hermione G.]]","[Romance, Humor]",English,1,5,2,3,5436,1389050085,T,Complete,Kilts and other adversities,1389050085
10000109,5232542,"[James P., Lily Evans P.]","[Humor, Romance]",English,1,4,NaN,2,747,1389051817,K+,Complete,Of Dead Puppies and Dropped Pianos,1389051817
10000111,5438139,[],[],Spanish,1,7,6,5,400,1389051884,K+,Incomplete,Querido primo Harry,1389051884
10000114,5437478,"[Hermione G., Draco M.]","[Romance, Humor]",Spanish,1,11,13,8,1757,1389051911,K+,Incomplete,Conciertos en Hogwarts,1389051911
10000137,4626918,"[Bellatrix L., Luna L.]","[Humor, Horror]",English,3,NaN,NaN,3,659,1389052244,T,Complete,Crazy songs from crazy people,1389414254

In [103]:
dev = df.head(n=1000).copy()
len(dev)

1000

In [133]:
dev = df.copy()

In [134]:
characters = dev[dev['characters'].apply(lambda x: len(x)>0)]
len(characters)

507475

In [4]:
def isListOfLists(obj):
    return any(isinstance(el, list) for el in obj)

In [5]:
def flatten_list(l):
    if isListOfLists(l):
        returnList = []
        for sublist in l:
            if isinstance(sublist, list):
                for item in sublist:
                    returnList.append(item)
            else:
                returnList.append(sublist)
        return returnList;
    else:
        return l

In [74]:
test1 = [['hi', 'there']]
test2 = ['hi', 'there']
test3 = [['hi', 'there'],'joe']
test4 = [['hi', 'there'],'joe',['seeya','later']]
print(flatten_list(test1))
print(flatten_list(test2))
print(flatten_list(test3))
print(flatten_list(test4))

['hi', 'there']
['hi', 'there']
['hi', 'there', 'joe']
['hi', 'there', 'joe', 'seeya', 'later']

In [135]:
flattened = characters['characters'].map(lambda l: flatten_list(l))

In [136]:
# from https://stackoverflow.com/questions/29034928/pandas-convert-a-column-of-list-to-dummies
dummies = pd.get_dummies(flattened.apply(pd.Series).stack()).sum(level=0)

In [137]:
# from https://stackoverflow.com/questions/20574257/constructing-a-co-occurrence-matrix-in-python-pandas
dummies_asint = dummies.astype(int)
coocc = dummies_asint.T.dot(dummies_asint)

In [138]:
coocc['Harry P.']['Harry P.']

151951

In [139]:
coocc.head()

,,A. Dippet,A. Kirke,A. Lynch,A. Pye,A. Sinistra,Aberforth D.,Abraxas M.,Adrian P.,Alastor M.,...,Whomping Willow,William S.,William the Pukwudgie,Winky,Xenophilius L.,Yaxley,Zacharias S.,Zacharias S.] Megan J.,Zhang Fei,Úrsula F.
,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Dippet,0,24,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
A. Kirke,0,0,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Lynch,0,0,0,13,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Pye,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
coocc.drop(coocc.keys()[0], 1, inplace=True)
coocc.head()

,A. Dippet,A. Kirke,A. Lynch,A. Pye,A. Sinistra,Aberforth D.,Abraxas M.,Adrian P.,Alastor M.,Albert R.,...,Whomping Willow,William S.,William the Pukwudgie,Winky,Xenophilius L.,Yaxley,Zacharias S.,Zacharias S.] Megan J.,Zhang Fei,Úrsula F.
,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Dippet,24,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
A. Kirke,0,11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Lynch,0,0,13,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Pye,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [140]:
coocc.keys()

Index(['', 'A. Dippet', 'A. Kirke', 'A. Lynch', 'A. Pye', 'A. Sinistra',
       'Aberforth D.', 'Abraxas M.', 'Adrian P.', 'Alastor M.',
       ...
       'Whomping Willow', 'William S.', 'William the Pukwudgie', 'Winky',
       'Xenophilius L.', 'Yaxley', 'Zacharias S.', 'Zacharias S.] Megan J.',
       'Zhang Fei', 'Úrsula F.'],
      dtype='object', length=414)

In [142]:
for name in coocc.keys():
    print("{0}:{1}".format(name,coocc[name][name]))

:1
A. Dippet:24
A. Kirke:11
A. Lynch:13
A. Pye:3
A. Sinistra:175
Aberforth D.:317
Abraxas M.:245
Adrian P.:222
Alastor M.:654
Albert R.:2
Albus D.:10372
Albus S. P.:6693
Alecto C.:129
Alexia B.:4
Alice L.:988
Alicia S.:422
Alphard B.:98
Ambrosius F.:12
Amelia B.:207
Amos D.:44
Amy B.:38
Amycus C.:76
Andromeda T.:2658
Angelina J.:1735
Anne P.:54
Anne P.]:1
Anthony G.:155
Antioch P.:51
Antonin D.:140
Arabella F.:124
Aragog:9
Arcturus B.:43
Argus F.:474
Ariana D.:279
Arthur W.:1487
Astoria G.:2357
Audrey W.:374
Augusta L.:133
Augustus R.:43
Avery:49
Bane:31
Barnabas Cuffe:3
Barty C. Jr.:695
Barty C. Sr.:103
Basilisk:65
Bathilda B.:33
Bellatrix L.:7242
Belvina B.:9
Benjy F.:65
Bertha J.:19
Bill W.:1808
Blaise Z.:3975
Bloody Baron:152
Bob H.:21
Buckbeak:39
C. Binns:62
C. Fudge:159
C. Warrington:57
Cadmus P.:47
Cadwallader:9
Callidora B.:18
Caradoc D.:53
Caspar C.:2
Cassiopeia B.:42
Cedrella B.:67
Cedric D.:2426
Chadwick B.:2
Charis B.:11
Charity B.:69
Charlie W.:2655
Charlus P.:87
Cho C.:2209
Colin C.:601
Connolly:3
Cormac M.:169
Credence B.:4
Crookshanks:196
Cygnus B.:113
Daphne G.:1628
Dean T.:1391
Death:27
Dedalus D.:11
Delphi Riddle:57
Demelza R.:71
Dementors:101
Dennis B.:18
Dennis C.:330
Derek:1
Dilys D.:2
Dirk C.:26
Dobby:457
Dolores U.:653
Dominique W.:1146
Donaghan T.:5
Dorcas M.:293
Dorea Black/Potter:96
Dr. Granger:156
Draco M.:110555
Druella B.:156
Dudley D.:1415
Edgar B.:24
Eduardus B.:3
Eileen P.:278
Eldred W.:6
Eleanor B.:8
Elladora B.:17
Eloise M.:64
Elphias D.:23
Elphinstone U.:28
Emmeline V.:221
Ernie M.:262
Ernie P.:4
Euphemia P.:34
Eupraxia M.:1
Evan R.:146
F. Flitwick:289
F. Quigley:1
Fabian P.:195
Fang:20
Fat Friar:30
Fawkes:148
Fay D.:65
Fenrir G.:468
Firenze:84
Fleamont P.:29
Fleur D.:2100
Flora C.:24
Florean Fortescue:5
Florence:4
Fluffy:7
Founders:94
Frank B.:17
Frank L.:563
Fred W.:10712
Fred W. II:618
Fridwulfa:12
G. Jones:20
G. Marchbanks:7
G. Merrythought:10
G. Montague:115
G. Ollivander:150
Gabrielle D.:414
Gellert G.:859
Gemma F.:17
George W.:11944
Germany:1
Giant Squid:69
Gibbon:9
Gideon C.:1
Gideon P.:195
Gilderoy L.:554
Ginny W.:44599
Ginny W.]:1
Godric G.:843
Gormlaith G.:3
Grawp:25
Gregory G.:300
Griphook:26
Hannah A.:988
Harfang L.:8
Harper:7
Harry P.:151951
Heathcote B.:2
Hedwig:241
Helena R.:273
Helga H.:559
Henry P.:16
Hepzibah S.:14
Herbert B.:6
Herman W.:1
Hermione G.:127244
Herpo the Foul:16
Hesper G.:4
Hester B.:3
Hestia C.:33
Hestia J.:128
Hope H.:13
Hope L.:38
Horace S.:231
Hugo W.:966
I. Karkaroff:102
I. Pince:105
I. Volkov:2
Ignatius P.:10
Ignotus P.:57
Iolanthe P.:2
Irma C.:4
Isla B.:52
Isobel M.:6
Isobel mG.:10
Isolt S.:7
Ivanova:1
J. Dawlish:47
J. Sloper:8
J. Wronski:5
James P.:45143
James S.:18
James S. P.:4355
Jason S.:6
Jeremy S.:2
Jimmy P.:82
Justin F.:275
Karkaroff's Aide:5
Katie B.:2016
Kendra D.:42
Kevin E.:26
Kingsley S.:386
Kirley D.:7
Kreacher:209
L. Moon:25
L. Zamojski:4
L. Zograf:3
L. d'Eath:7
Laura M.:10
Lavender B.:1428
Leanne:47
Lee J.:365
Levski:1
Licorus B.:3
Lily Evans P.:46677
Lily Luna P.:5876
Lisa C.:5
Lisa T.:91
Lorcan S.:788
Louis W.:478
Lucius M.:6666
Lucretia B.:27
Lucy W.:831
Ludo B.:27
Luna L.:11735
Lyall L.:65
Lycoris B.:10
Lysander S.:826
Lysandra B.:8
M. Bagnold:1
Mafalda Hopkirk:7
Magorian:11
Malcolm mG.:12
Malcom P.:2
Mandy B.:36
Marauders:2754
Marcus F.:653
Marge D.:40
Marietta E.:131
Marius B.:57
Marlene M.:1497
Marvolo G.:28
Mary C.:14
Mary M.:199
Mary R.:8
Maxine O.:1
Megan J.:38
Megan J.]:1
Melania M.:6
Merlin:68
Merope G.:385
Merton G.:1
Michael C.:202
Miles B.:11
Millicent B.:226
Minerva M.:7325
Mirror of Erised:95
Molly W.:2615
Molly W. II:477
Morag M.:53
Moran:3
Morfin G.:37
Morgana:43
Morrigan:1
Mrs. Granger:54
Mrs. Lovegood:95
Mrs. Norris:94
Mrs. Zabini:61
Mulciber:28
Mullet:3
Mundungus F.:74
Muriel W.:25
Myron W.:7
Myrtle:398
N. Tonks:8514
Nagini:149
Narcissa M.:5535
Nearly Headless Nick:68
Neville L.:7109
Neville L.]:1
Newt S.:172
Nicolas F.:100
Nigel W.:11
Norberta:2
Nott:55
OC:32822
Olive H.:38
Oliver R.:4
Oliver W.:3513
Olympe M.:54
Orion B.:222
Orla Q.:12
Orsino T.:1
Owen C.:11
P. Sprout:247
P. Vulchanov:3
Padma P.:586
Panju P.:1
Pansy P.:4250
Parvati P.:690
Peeves:95
Penelope C.:276
Percival D.:26
Percy W.:3002
Perenelle F.:51
Peter P.:2474
Petunia D.:1907
Phineas B.:19
Phineas Nigellus:74
Phoebe B.:4
Piers P.:29
Pius T.:11
Plank:20
Plank]:2
Poliakoff:9
Pollux B.:17
Polly C.:1
Poppy P.:297
Porpentina S.:54
Proudfoot:1
Q. Quirrell:227
R. Hooch:242
R. Hooch]:1
Rabastan L.:396
Reg C.:4
Reginald C.:7
Regulus B.:3582
Remus L.:37010
Rionach S.:1
Rionach S. Jr.:1
Rita S.:304
Ritchie C.:9
Robert mG. Jr.:4
Robert mG. Sr.:9
Rodolphus L.:1045
Roger D.:94
Rolf S.:255
Romilda V.:162
Ron W.:38037
Ronan:11
Rose W.:10266
Rose Zeller:29
Rosmerta:78
Rowena R.:790
Roxanne W.:657
Rubeus H.:742
Rufus S.:64
Ryan:4
S. Cadogan:15
S. Fawcett:4
S. Kettleburn:15
S. Vector:51
Salazar S.:1300
Sanguini:43
Savage:4
Scabior:258
Scorpius M.:13813
Seamus F.:1778
Selwyn:18
Septimus W.:44
Severus S.:50641
Sirius B.:44733
Sorting Hat:427
Stan S.:29
Stebbins:7
Stephen C.:23
Stewart A.:2
Sturgis P.:7
Su L.:54
Summerby:9
Susan B.:632
Sybill T.:293
T. Rowle:13
Ted T.:757
Teddy L.:5306
Terence H.:72
Terry B.:231
The Fat Lady:34
Theodore N.:1977
Thomas R.:19
Tobias S.:159
Tom R. Jr.:7498
Tom R. Sr.:367
Tracey D.:242
Travers:10
Trevor:12
Troy:5
Vaisey:14
Verity:52
Vernon D.:525
Victoire W.:2385
Viktor K.:1103
Vincent C.:243
Voldemort:12353
Walburga B.:371
Walden M.:47
Wayne H.:20
Webster B.:1
Whomping Willow:14
William S.:1
William the Pukwudgie:3
Winky:108
Xenophilius L.:236
Yaxley:43
Zacharias S.:299
Zacharias S.] Megan J.:1
Zhang Fei:2
Úrsula F.:3

In [173]:
names_to_delete = []
names_to_keep = []
for name in coocc.keys():
    if coocc[name][name] < 800:
        names_to_delete.append(name)
    else:
        names_to_keep.append(name)
print(len(names_to_delete))
print(len(names_to_keep))
names_to_keep

347
67

['Albus D.',
 'Albus S. P.',
 'Alice L.',
 'Andromeda T.',
 'Angelina J.',
 'Arthur W.',
 'Astoria G.',
 'Bellatrix L.',
 'Bill W.',
 'Blaise Z.',
 'Cedric D.',
 'Charlie W.',
 'Cho C.',
 'Daphne G.',
 'Dean T.',
 'Dominique W.',
 'Draco M.',
 'Dudley D.',
 'Fleur D.',
 'Fred W.',
 'Gellert G.',
 'George W.',
 'Ginny W.',
 'Godric G.',
 'Hannah A.',
 'Harry P.',
 'Hermione G.',
 'Hugo W.',
 'James P.',
 'James S. P.',
 'Katie B.',
 'Lavender B.',
 'Lily Evans P.',
 'Lily Luna P.',
 'Lucius M.',
 'Lucy W.',
 'Luna L.',
 'Lysander S.',
 'Marauders',
 'Marlene M.',
 'Minerva M.',
 'Molly W.',
 'N. Tonks',
 'Narcissa M.',
 'Neville L.',
 'OC',
 'Oliver W.',
 'Pansy P.',
 'Percy W.',
 'Peter P.',
 'Petunia D.',
 'Regulus B.',
 'Remus L.',
 'Rodolphus L.',
 'Ron W.',
 'Rose W.',
 'Salazar S.',
 'Scorpius M.',
 'Seamus F.',
 'Severus S.',
 'Sirius B.',
 'Teddy L.',
 'Theodore N.',
 'Tom R. Jr.',
 'Victoire W.',
 'Viktor K.',
 'Voldemort']

In [176]:
coocc['OC'].nlargest(5)

OC            32822
Harry P.       6345
Sirius B.      4161
Draco M.       4130
Severus S.     2816
Name: OC, dtype: int64

In [198]:
coocc.to_csv(data_directory+'cooccurrence.csv')

In [192]:
char_freqs = []
for name in coocc.keys():
#    if(coocc[name][name]>1):
    char_freqs.append([name,coocc[name][name]])
char_freq_df = pd.DataFrame(char_freqs, columns=['name','count'])
char_freq_df.head()

        name  count
0                 1
1  A. Dippet     24
2   A. Kirke     11
3   A. Lynch     13
4     A. Pye      3

In [263]:
sorted_char_freq = char_freq_df.sort_values(['count','name'], ascending=False)

In [264]:
top_200 = sorted_char_freq.head(n=200)

In [265]:
top_200.head(n=100)

              name   count
162       Harry P.  151951
171    Hermione G.  127244
98        Draco M.  110555
366     Severus S.   50641
220  Lily Evans P.   46677
196       James P.   45143
367      Sirius B.   44733
152       Ginny W.   44599
344         Ron W.   38037
333       Remus L.   37010
291             OC   32822
362    Scorpius M.   13813
399      Voldemort   12353
145      George W.   11944
230        Luna L.   11735
134        Fred W.   10712
11        Albus D.   10372
346        Rose W.   10266
280       N. Tonks    8514
387     Tom R. Jr.    7498
261     Minerva M.    7325
47    Bellatrix L.    7242
284     Neville L.    7109
12     Albus S. P.    6693
226      Lucius M.    6666
221   Lily Luna P.    5876
282    Narcissa M.    5535
380       Teddy L.    5306
198    James S. P.    4355
304       Pansy P.    4250
..             ...     ...
351      Rubeus H.     742
43    Barty C. Jr.     695
305     Parvati P.     690
350     Roxanne W.     657
9       Alastor M.     654
242      Marcus F.     653
92      Dolores U.     653
376       Susan B.     632
135     Fred W. II     618
73        Colin C.     601
302       Padma P.     586
133       Frank L.     563
166       Helga H.     559
151    Gilderoy L.     554
395      Vernon D.     525
225       Louis W.     478
264    Molly W. II     477
33        Argus F.     474
123      Fenrir G.     468
91           Dobby     457
368    Sorting Hat     427
16       Alicia S.     422
142   Gabrielle D.     414
279         Myrtle     398
329    Rabastan L.     396
207    Kingsley S.     386
256      Merope G.     385
37       Audrey W.     374
400    Walburga B.     371
388     Tom R. Sr.     367

[100 rows x 2 columns]

In [266]:
names = top_200.pop('name')
top_200.index = names
top_200.head()

                count
name
Harry P.       151951
Hermione G.    127244
Draco M.       110555
Severus S.      50641
Lily Evans P.   46677

In [267]:
top_200['count']['Remus L.']

37010

In [268]:
marauders_bonus = top_200['count']['Marauders']
marauders = ['Remus L.', 'Sirius B.', 'James P.', 'Peter P.']
for marauder in marauders:
    orig_val = top_200['count'][marauder]
    top_200.set_value(marauder, 'count', orig_val + marauders_bonus)

In [269]:
founders_bonus = top_200['count']['Founders']
print(founders_bonus)
founders = ['Godric G.', 'Salazar S.', 'Helga H.', 'Rowena R.']
for founder in founders:
    orig_val = top_200['count'][founder]
    print(orig_val)
    top_200.set_value(founder, 'count', orig_val + founders_bonus)

94
843
1300
559
790

In [270]:
tom_riddle_count = top_200['count']['Tom R. Jr.']
voldemort_count = top_200['count']['Voldemort']
top_200.set_value('Voldemort', 'count', tom_riddle_count+ voldemort_count)

                       count
name
Harry P.              151951
Hermione G.           127244
Draco M.              110555
Severus S.             50641
Lily Evans P.          46677
James P.               47897
Sirius B.              47487
Ginny W.               44599
Ron W.                 38037
Remus L.               39764
OC                     32822
Scorpius M.            13813
Voldemort              19851
George W.              11944
Luna L.                11735
Fred W.                10712
Albus D.               10372
Rose W.                10266
N. Tonks                8514
Tom R. Jr.              7498
Minerva M.              7325
Bellatrix L.            7242
Neville L.              7109
Albus S. P.             6693
Lucius M.               6666
Lily Luna P.            5876
Narcissa M.             5535
Teddy L.                5306
James S. P.             4355
Pansy P.                4250
...                      ...
Mrs. Lovegood             95
Mirror of Erised          95
Roger D.                  94
Mrs. Norris               94
Founders                  94
Lisa T.                   91
Charlus P.                87
Firenze                   84
Jimmy P.                  82
Rosmerta                  78
Amycus C.                 76
Phineas Nigellus          74
Mundungus F.              74
Terence H.                72
Demelza R.                71
Giant Squid               69
Charity B.                69
Nearly Headless Nick      68
Merlin                    68
Cedrella B.               67
Lyall L.                  65
Fay D.                    65
Benjy F.                  65
Basilisk                  65
Rufus S.                  64
Eloise M.                 64
C. Binns                  62
Mrs. Zabini               61
Marius B.                 57
Ignotus P.                57

[200 rows x 1 columns]

In [272]:
top = top_200.drop(['Marauders', 'Founders', 'Tom R. Jr.'])

In [273]:
len(top)

197

In [274]:
top = top.sort_values('count', ascending=False)

In [275]:
percents = top/top.sum()

In [276]:
percents.columns=['percent']

In [277]:
percents

                       percent
name
Harry P.              0.152031
Hermione G.           0.127311
Draco M.              0.110613
Severus S.            0.050668
James P.              0.047922
Sirius B.             0.047512
Lily Evans P.         0.046701
Ginny W.              0.044622
Remus L.              0.039785
Ron W.                0.038057
OC                    0.032839
Voldemort             0.019861
Scorpius M.           0.013820
George W.             0.011950
Luna L.               0.011741
Fred W.               0.010718
Albus D.              0.010377
Rose W.               0.010271
N. Tonks              0.008518
Minerva M.            0.007329
Bellatrix L.          0.007246
Neville L.            0.007113
Albus S. P.           0.006697
Lucius M.             0.006669
Lily Luna P.          0.005879
Narcissa M.           0.005538
Teddy L.              0.005309
Peter P.              0.005231
James S. P.           0.004357
Pansy P.              0.004252
...                        ...
Peeves                0.000095
Mrs. Lovegood         0.000095
Mirror of Erised      0.000095
Roger D.              0.000094
Mrs. Norris           0.000094
Lisa T.               0.000091
Charlus P.            0.000087
Firenze               0.000084
Jimmy P.              0.000082
Rosmerta              0.000078
Amycus C.             0.000076
Phineas Nigellus      0.000074
Mundungus F.          0.000074
Terence H.            0.000072
Demelza R.            0.000071
Giant Squid           0.000069
Charity B.            0.000069
Merlin                0.000068
Nearly Headless Nick  0.000068
Cedrella B.           0.000067
Lyall L.              0.000065
Fay D.                0.000065
Benjy F.              0.000065
Basilisk              0.000065
Rufus S.              0.000064
Eloise M.             0.000064
C. Binns              0.000062
Mrs. Zabini           0.000061
Marius B.             0.000057
Ignotus P.            0.000057

[197 rows x 1 columns]

In [278]:
percents.to_csv(data_directory+'char_freq_ff.csv')