## Cleaning the co-occurrence matrix
This notebook reads in the co-occurrence matrix and takes only the top 50 characters. This file is then saved as a CSV and is intended to be fed into a javascript script using d3 to generate some nice visuals. We want to minimize the file size that needs to go to d3 since the user's browser needs to grab that data and organize it... In other words, do as much as the preprocessing now so that it won't have to be done over and over again later!

### Read in the data

In [10]:
import pandas as pd

df = pd.read_csv('../data/cooccurrence.csv')

In [11]:
df.head()

,Unnamed: 0,A. Dippet,A. Kirke,A. Lynch,A. Pye,A. Sinistra,Aberforth D.,Abraxas M.,Adrian P.,Alastor M.,...,Whomping Willow,William S.,William the Pukwudgie,Winky,Xenophilius L.,Yaxley,Zacharias S.,Zacharias S.] Megan J.,Zhang Fei,Úrsula F.
NaN,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Dippet,0,24,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
A. Kirke,0,0,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Lynch,0,0,0,13,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Pye,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Remove some dirty data
Something about the web parsing script generated these NaN's and Unnamed fields so let's get rid of them.

In [22]:
df.drop(df.index[0], inplace=True)

In [23]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [24]:
df.head()

,A. Dippet,A. Kirke,A. Lynch,A. Pye,A. Sinistra,Aberforth D.,Abraxas M.,Adrian P.,Alastor M.,Albert R.,...,Whomping Willow,William S.,William the Pukwudgie,Winky,Xenophilius L.,Yaxley,Zacharias S.,Zacharias S.] Megan J.,Zhang Fei,Úrsula F.
A. Dippet,24,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
A. Kirke,0,11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Lynch,0,0,13,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Pye,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Sinistra,0,0,0,0,175,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

### Getting the most popular characters
A nice feature about cooccurrence matrices is that the diagonal represents the total number of fan fictions about that character. There's probably a clever way to do this but I just changed the number of fan fiction threshold until I got about 50 characters. All of the not as popular characters have their names added to an array to be deleted from the dataframe in the next step.

In [33]:
to_delete = []
for name in df.keys():
    if df[name][name] < 1700:
        to_delete.append(name)
    else:
        print(name)
print(413-len(to_delete))

Albus D.
Albus S. P.
Andromeda T.
Angelina J.
Astoria G.
Bellatrix L.
Bill W.
Blaise Z.
Cedric D.
Charlie W.
Cho C.
Draco M.
Fleur D.
Fred W.
George W.
Ginny W.
Harry P.
Hermione G.
James P.
James S. P.
Katie B.
Lily Evans P.
Lily Luna P.
Lucius M.
Luna L.
Marauders
Minerva M.
Molly W.
N. Tonks
Narcissa M.
Neville L.
OC
Oliver W.
Pansy P.
Percy W.
Peter P.
Petunia D.
Regulus B.
Remus L.
Ron W.
Rose W.
Scorpius M.
Seamus F.
Severus S.
Sirius B.
Teddy L.
Theodore N.
Tom R. Jr.
Victoire W.
Voldemort
50

In [34]:
for name in to_delete:
    df.drop(name, axis=1, inplace=True)
    df.drop(name, inplace=True)

In [35]:
df

,Albus D.,Albus S. P.,Andromeda T.,Angelina J.,Astoria G.,Bellatrix L.,Bill W.,Blaise Z.,Cedric D.,Charlie W.,...,Rose W.,Scorpius M.,Seamus F.,Severus S.,Sirius B.,Teddy L.,Theodore N.,Tom R. Jr.,Victoire W.,Voldemort
Albus D.,10372,25,6,1,1,51,3,4,11,6,...,7,17,7,1948,265,9,9,321,0,445
Albus S. P.,25,6693,0,0,11,7,1,2,0,5,...,1580,3316,2,149,22,169,3,23,40,15
Andromeda T.,6,0,2658,1,6,669,4,0,1,2,...,1,7,0,19,194,179,0,4,14,16
Angelina J.,1,0,1,1735,2,0,2,3,8,11,...,1,2,2,4,3,3,0,0,0,0
Astoria G.,1,11,6,2,2357,4,1,69,3,1,...,27,159,4,9,2,10,43,5,5,3
Bellatrix L.,51,7,669,0,4,7242,5,1,2,17,...,5,7,3,304,1037,10,2,144,0,1255
Bill W.,3,1,4,2,1,5,1808,0,3,213,...,3,1,1,26,21,29,3,1,68,2
Blaise Z.,4,2,0,3,69,1,0,3975,8,16,...,5,13,38,41,10,1,305,12,3,10
Cedric D.,11,0,1,8,3,2,3,8,2426,11,...,0,0,4,18,15,1,4,13,0,14
Charlie W.,6,5,2,11,1,17,213,16,11,2655,...,3,11,0,39,22,13,13,1,5,5
Cho C.,7,2,1,7,1,2,0,10,382,5,...,2,1,11,14,3,1,4,4,0,6
Draco M.,190,187,53,18,1838,235,34,1148,80,189,...,206,930,100,1601,297,101,494,236,9,512
Fleur D.,14,2,2,3,3,20,561,4,70,41,...,2,1,1,11,22,15,1,2,58,5
Fred W.,33,7,2,549,7,15,44,11,29,53,...,16,7,14,121,126,16,5,9,5,38
George W.,36,8,3,910,5,10,57,7,31,64,...,12,11,22,167,95,24,4,12,10,42
Ginny W.,72,190,10,17,63,50,116,500,41,69,...,19,54,82,317,316,124,53,947,25,466
Harry P.,2239,785,99,41,132,354,163,525,616,280,...,127,356,158,12273,4805,831,220,2278,61,5256
Hermione G.,357,60,27,39,133,422,231,1186,502,503,...,508,295,129,11213,1897,93,480,1140,11,615
James P.,133,76,11,0,3,51,3,1,2,4,...,30,35,2,1247,8342,35,6,56,1,125
James S. P.,12,1174,1,3,6,1,2,0,0,6,...,584,526,3,21,37,404,3,8,90,5
Katie B.,0,0,0,45,2,0,4,5,13,57,...,0,0,5,7,1,2,7,3,1,1
Lily Evans P.,196,35,25,1,2,60,1,2,5,4,...,23,114,2,6619,3648,22,1,46,2,211
Lily Luna P.,6,617,2,1,12,8,1,2,3,3,...,352,1808,1,162,40,667,0,22,56,7
Lucius M.,40,2,93,2,47,270,5,5,1,4,...,6,52,0,910,123,3,4,42,0,313
Luna L.,54,11,4,2,31,49,23,256,61,46,...,5,11,62,265,69,14,295,71,2,50
Marauders,46,7,6,0,0,11,1,0,1,1,...,4,1,1,271,332,13,0,7,1,29
Minerva M.,2941,32,11,1,0,45,4,3,2,9,...,12,12,3,1133,185,17,1,241,3,67
Molly W.,15,7,26,7,1,44,71,3,0,60,...,20,15,2,42,48,21,3,5,17,16
N. Tonks,26,3,215,3,3,126,51,3,9,328,...,0,0,2,260,350,241,0,6,15,12
Narcissa M.,13,2,602,0,55,894,6,13,1,4,...,5,31,1,310,206,16,6,15,1,111
Neville L.,32,27,5,3,28,64,1,77,20,14,...,21,33,80,254,43,28,45,14,64,55
OC,371,1000,53,27,55,206,100,231,318,381,...,504,690,155,2816,4161,315,133,926,71,538
Oliver W.,4,1,0,69,5,2,6,6,70,55,...,1,0,7,10,13,3,1,3,3,8
Pansy P.,4,1,1,2,62,6,9,386,12,21,...,2,6,26,39,5,6,117,12,4,13
Percy W.,8,1,2,9,0,3,62,3,9,49,...,0,4,2,32,11,4,4,5,0,18
Peter P.,16,0,1,0,0,23,1,0,5,1,...,3,1,1,69,1190,1,0,5,0,118
Petunia D.,37,0,1,0,0,1,2,0,0,0,...,0,0,2,185,65,3,0,4,0,3
Regulus B.,17,5,52,0,1,121,4,4,2,1,...,1,2,1,182,1598,5,6,11,0,63
Remus L.,238,5,81,4,2,101,48,9,10,25,...,3,4,12,2149,17923,403,7,12,20,50
Ron W.,136,45,3,17,45,36,95,122,24,76,...,468,120,59,448,113,35,29,57,10,120
Rose W.,7,1580,1,1,27,5,3,5,0,3,...,10266,7893,1,19,9,142,0,9,75,7
Scorpius M.,17,3316,7,2,159,7,1,13,0,11,...,7893,13813,1,27,8,117,4,8,60,7
Seamus F.,7,2,0,2,4,3,1,38,4,0,...,1,1,1778,13,6,2,20,3,2,3
Severus S.,1948,149,19,4,9,304,26,41,18,39,...,19,27,13,50641,1745,28,24,148,2,756
Sirius B.,265,22,194,3,2,1037,21,10,15,22,...,9,8,6,1745,44733,70,9,64,3,126
Teddy L.,9,169,179,3,10,10,29,1,1,13,...,142,117,2,28,70,5306,1,11,1754,3
Theodore N.,9,3,0,0,43,2,3,305,4,13,...,0,4,20,24,9,1,1977,13,1,10
Tom R. Jr.,321,23,4,0,5,144,1,12,13,1,...,9,8,3,148,64,11,13,7498,3,796
Victoire W.,0,40,14,0,5,0,68,3,0,5,...,75,60,2,2,3,1754,1,3,2385,0
Voldemort,445,15,16,0,3,1255,2,10,14,5,...,7,7,3,756,126,3,10,796,0,12353

And that's it! Now let's save it off and let d3 run with it.

In [36]:
df.to_csv('../data/cooccurrences-min.csv')